.form-control {
	border-color: transparent;
	border-bottom-color: #D0D0D0;
	width: 100%;
	box-shadow: none;
	padding: 17px 230px;
	font-size: 18px;
	text-align: center;
	height: 40px;
	margin: 15px;
}

.container {
	margin-left: 0;
	margin-right: 0;
	margin-top: 2em;
}

.output {
	margin: 2em;
}

#submit {
	margin: 15px;
}

